sudo: false
language: python
python:
  # All supported djangoes work with python 3.7, so let's just use that.
  # Running tests in all supported pythons feels like overkill.
  # Run with `tox` locally if you really want to test other pythons; they're all listed in tox.ini
  - "3.7"
env:
  - DJANGO="Django~=2.2.8"
  - DJANGO="Django~=3.0.0"

install: pip install $DJANGO
script: python setup.py test
